<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="error" class="mx.com.gm.peliculas.datos.AccesoDatosFileImpl">
        <file>myApp.log</file>
        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="info" class="mx.com.gm.peliculas.datos.catalogoPeliculasImp">
        <file>myApp.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>


    <property name="CATALOGO_LOG2" value="E:/Programacion/Curso Java/Crusos/ProgramacionJava/LaboratorioFinal2/src/main/resources/CATALOGO_LOG.log"/>

    <appender name="CATAFILE-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${CATALOGO_LOG2}</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/archived/app.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <!-- each archived file, size max 10MB -->
            <maxFileSize>10MB</maxFileSize>
            <!-- total size of all archive files, if total size > 20GB, it will delete old archived file -->
            <totalSizeCap>20GB</totalSizeCap>
            <!-- 60 days to keep -->
            <maxHistory>60</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d %p %c{1.} [%t] %m%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="CATAFILE-ROLLING"/>
    </root>

    <logger name="mx.com.gm.peliculas.cpjlaboratoriofinal" additivity="false" level="info">
        <appender-ref ref="CATAFILE-ROLLING" />
        </logger>
</configuration>